include /components/mixins/mixins.pug

section.main-container__hero.hero
  div.hero__container
    div.hero__description
      div.hero__text-block
        h3 Цены, которые привлекают
        span 10% скидка при заказе оптом
        p Мы&nbsp;предлагаем не&nbsp;просто аксессуары, а&nbsp;ключ к&nbsp;новой цифровой реальности за&nbsp;низкие цены.
      a.hero__description-link(href="/")
        span Связаться
    div.hero__slider-container.hero-swiper
      ul.hero__slider-list.swiper-wrapper
        li.hero__slider-item.swiper-slide
          picture
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture1@1x.webp 1x, img/slider_picture1@2x.webp 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture1@1x.webp 1x, img/slider_picture1@2x.webp 2x"
            )
            source(
              type="image/webp",
              srcset="img/slider_picture1@1x.webp 1x, img/slider_picture1@2x.webp 2x"
            )
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture1@1x.jpg 1x, img/slider_picture1@2x.jpg 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture1@1x.jpg 1x, img/slider_picture1@2x.jpg 2x"
            )
            img(
              src="img/slider_picture1@1x.jpg",
              srcset="img/slider_picture1@2x.jpg 2x",
              width="850",
              alt="/"
            )
        li.hero__slider-item.swiper-slide
          picture
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture1@2x.webp 1x, img/slider_picture2@2x.webp 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture2@1x.webp 1x, img/slider_picture2@2x.webp 2x"
            )
            source(
              type="image/webp",
              srcset="img/slider_picture2@1x.webp 1x, img/slider_picture2@2x.webp 2x"
            )
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture2@1x.jpg 1x, img/slider_picture2@2x.jpg 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture2@1x.jpg 1x, img/slider_picture2@2x.jpg 2x"
            )
            img(
              src="img/slider_picture2@1x.jpg",
              srcset="img/slider_picture2@2x.jpg 2x",
              width="850",
              alt="/"
            )
        li.hero__slider-item.swiper-slide
          picture
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture3@1x.webp 1x, img/slider_picture3@2x.webp 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/webp",
              srcset="img/slider_picture3@1x.webp 1x, img/slider_picture3@2x.webp 2x"
            )
            source(
              type="image/webp",
              srcset="img/slider_picture3@1x.webp 1x, img/slider_picture3@2x.webp 2x"
            )
            source(
              media="(max-width: 767px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture3@1x.jpg 1x, img/slider_picture3@2x.jpg 2x"
            )
            source(
              media="(max-width: 1023px)",
              width="850",
              type="image/jpg",
              srcset="img/slider_picture3@1x.jpg 1x, img/slider_picture3@2x.jpg 2x"
            )
            img(
              src="img/slider_picture3@1x.jpg",
              srcset="img/slider_picture3@2x.jpg 2x",
              width="850",
              alt="/"
            )
