include /components/mixins/mixins.pug

section.main-container__popular.popular
  div.popular__container
    h2 Популярное
    ul.popular__list.card
      li.card__item(data-article='001')
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular1@1x.jpg 1x, img/popular1@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular1@1x.jpg 1x, img/popular1@2x.jpg 2x"
          )
          img(
            src="img/popular1@1x.jpg",
            srcset="img/popular1@1x.jpg 2x",
            alt="/"
          )
        div.card__content
          div.card__item-text
            h5 Внешний акумулятор
            p Внешний акумулятор бренда FaizFull
          div.card__item-price
            span.card__item-price-value 700р
            button.card__item-price-button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
            div.card__item-price-button-block.button-click
              button.button-click__less
                span -
              span.button-click__text 0
              button.button-click__more
                span +
      li.card__item(data-article='002')
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular2@1x.jpg 1x, img/popular2@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular2@1x.jpg 1x, img/popular2@2x.jpg 2x"
          )
          img(
            src="img/popular2@1x.jpg",
            srcset="img/popular2@1x.jpg 2x",
            alt="/"
          )
        div.card__content
          div.card__item-text
            h5 Зарядный блок
            p Зарядный блок бренда FaizFull
          div.card__item-price
            span.card__item-price-value 350р
            button.card__item-price-button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
            div.card__item-price-button-block.button-click
              button.button-click__less
                span -
              span.button-click__text 0
              button.button-click__more
                span +
      li.card__item(data-article='003')
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular3@1x.jpg 1x, img/popular3@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular3@1x.jpg 1x, img/popular3@2x.jpg 2x"
          )
          img(
            src="img/popular3@1x.jpg",
            srcset="img/popular3@1x.jpg 2x",
            alt="/"
          )
        div.card__content
          div.card__item-text
            h5 Колонка
            p Колонка бренда FaizFull
          div.card__item-price
            span.card__item-price-value 1000р
            button.card__item-price-button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
            div.card__item-price-button-block.button-click
              button.button-click__less
                span -
              span.button-click__text 0
              button.button-click__more
                span +
      li.card__item(data-article='004')
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular4@1x.jpg 1x, img/popular4@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular4@1x.jpg 1x, img/popular4@2x.jpg 2x"
          )
          img(
            src="img/popular4@1x.jpg",
            srcset="img/popular4@1x.jpg 2x",
            alt="/"
          )
        div.card__content
          div.card__item-text
            h5 Наушники
            p Наушники бренда FaizFull
          div.card__item-price
            span.card__item-price-value 1200р
            button.card__item-price-button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
            div.card__item-price-button-block.button-click
              button.button-click__less
                span -
              span.button-click__text 0
              button.button-click__more
                span +
