include /components/mixins/mixins.pug

section.main-container__popular.popular
  div.popular__container
    h2 Популярное
    ul.popular__list
      li.popular__item
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular1@1x.webp 1x, img/popular1@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular1@1x.jpg 1x, img/popular1@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular1@1x.jpg 1x, img/popular1@2x.jpg 2x"
          )
          img(
            src="img/popular1@1x.jpg",
            srcset="img/popular1@1x.jpg 2x",
            alt="/"
          )
        div.popular__content
          div.popular__item-text
            h5 Внешний акумулятор
            p Внешний акумулятор бренда FaizFull
          div.popular__item-price
            span 700р
            button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
      li.popular__item
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular2@1x.webp 1x, img/popular2@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular2@1x.jpg 1x, img/popular2@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular2@1x.jpg 1x, img/popular2@2x.jpg 2x"
          )
          img(
            src="img/popular2@1x.jpg",
            srcset="img/popular2@1x.jpg 2x",
            alt="/"
          )
        div.popular__content
          div.popular__item-text
            h5 Зарядный блок
            p Зарядный блок бренда FaizFull
          div.popular__item-price
            span 350р
            button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
      li.popular__item
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular3@1x.webp 1x, img/popular3@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular3@1x.jpg 1x, img/popular3@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular3@1x.jpg 1x, img/popular3@2x.jpg 2x"
          )
          img(
            src="img/popular3@1x.jpg",
            srcset="img/popular3@1x.jpg 2x",
            alt="/"
          )
        div.popular__content
          div.popular__item-text
            h5 Колонка
            p Колонка бренда FaizFull
          div.popular__item-price
            span 1000р
            button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
      li.popular__item
        picture
          source(
            media="(max-width: 767px)",
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/popular4@1x.webp 1x, img/popular4@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            type="image/jpg",
            srcset="img/popular4@1x.jpg 1x, img/popular4@2x.jpg 2x"
          )
          source(
            media="(max-width: 1023px)",
            type="image/jpg",
            srcset="img/popular4@1x.jpg 1x, img/popular4@2x.jpg 2x"
          )
          img(
            src="img/popular4@1x.jpg",
            srcset="img/popular4@1x.jpg 2x",
            alt="/"
          )
        div.popular__content
          div.popular__item-text
            h5 Наушники
            p Наушники бренда FaizFull
          div.popular__item-price
            span 1200р
            button(type="button")
              svg
                use(xlink:href=`img/icons/sprite.svg#shopping_basket`)
